/* General Styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

/* Sidebar Styles */
.sidebar {
    padding: 20px;
}

/* Main Content Styles */
.main-content {
    padding: 20px;
}

.messages {
    margin-top: 20px;
}

.message {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.message.selected {
    background-color: #f0f0f0;
}

.displayed-message {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}


/* Mobile Styles */
@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .main-content {
        margin: 0;
        padding: 0;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        display: block;
        width: 100%;
    }
    .main-content {
        margin: 0;
        padding: 0;
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .sidebar {
        display: block;
    }
    .main-content {
        margin-left: 25%;
    }
}
